
## ################################################
## YOU ARE NOT ALLOWED TO CHANGE THIS AGREEMENTS!
## ################################################

<h1>Use of the Facility Access Manager</h1>
<div class="textblock">
    <p>
        The Facility Access Manager (“the system”) allows chosen users to apply for using facilities the system provides. The Service offered by $globallang.getChildText("service_offered_by") (“Provider”). The service is hosted in Germany.
    </p>
    <p>
        By using the Facility Access Manager, you agree to be bound by this Agreement, whether you are a “Visitor” (you simply browse the Website) or you are a “Member” (you have registered to the system). The term “User” refers to a Visitor or a Member. You are only authorized to use the Services if you agree to abide by all applicable laws and to this Agreement. Please read this Agreement carefully and save it. If you do not agree with it, you should leave the Website and discontinue use of the Services immediately.
    </p>
</div>
<h2>Fees</h2>
<div class="textblock">
    <p>
        Using the Facility Access Manager is feeless. Information about fees on using our facilities may follow.
    </p>
</div>
<h2>Password</h2>
<div class="textblock">
    <p>
        When you Sign in to become a Member, you will also be asked to choose a password. You are entirely responsible for maintaining the confidentiality of your password. You agree not to use the account, username, or password of another Member at any time or to disclose your password to any third party.
    </p>
</div>
<h2>Privacy Policy</h2>
<div class="textblock">
    <p>
        The system collects submitted information such as your name, email address and age of users. This information may be shared with other users to contact you in case of special agreements in terms of your bookings.
    </p>
    <p>
        All data will be used anonymously for statistical supposes.
    </p>
</div>
<h2>Limitation on Liability</h2>
<div class="textblock">
    <p>
        In no event shall the Provider be liable to you or any third party for any consequential damages.
    </p>
</div>
<h2>Copyright</h2>
<div class="textblock">
    <p>
        Copyright 2009-2012 by <a href="http://www.knurt.de">KNURT Systeme</a>
    </p>
</div>
<h2>License</h2>
<div class="textblock">
    <p>
        The Facility Access Manager is Licensed under the Creative Commons License Attribution-NonCommercial-ShareAlike 3.0 Unported; you may not use this file except in compliance with the License. You may obtain a copy of the License at
    </p>
    <p>
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">http://creativecommons.org/licenses/by-nc-sa/3.0/</a>
    </p>
    <p>
        Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an “AS IS” BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
    </p>
    <p>
        For more information of using the System for your own please visit:
    </p>
    <p>
        <a href="http://facility-access-manager.com">http://facility-access-manager.com</a>
    </p>
</div>
<h2>Claim for facilities</h2>
<div class="textblock">
    <p>
        You do not have any claim for booked facilities, even if the system gives the go-ahead for it. Accruing costs (because of arrival etc.) cannot be repay to you.
    </p>
</div>
<h2>Last but not least</h2>
<div class="textblock">
    <p>
        You accept to use the facilities carefully.
    </p>
</div>