<fieldset id="fs_pi">
    <legend>Personal Information</legend>
    <table>
        <tr>
            <td>
            	#parse('global/input_male.html')
            </td>
            <td>
            	#parse('global/input_title.html')
            </td>
        </tr>
        <tr>
            <td>
            	#parse('global/input_fname.html')
            </td>
            <td>
            	#parse('global/input_sname.html')
            </td>
        </tr>
        <tr>
            <td>
            	#parse('global/input_birthdate.html')
            </td>
            <td>
            	#parse('global/input_mail.html')
            </td>
        </tr>
    </table>
</fieldset>
