<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 
	set your own loader.xml definition file to define your own facilities.
	for the demo system use this line:
	
	more support:
	http://facility-access-manager.com/docs/wiki/how-to-set-up-own-facilities
	-->
	<import resource="file:/opt/knurt/fam/config/loader.xml" />

    <!--
	load the configuration for the environment
    -->
    <import resource="classpath:config/environment.xml" />
    <import resource="classpath:config/daos.xml" />
    <import resource="classpath:config/logging.xml" />
    <import resource="classpath:config/base.xml" />
    <import resource="classpath:config/security.xml" />
    <import resource="classpath:config/statistics.xml" />
    <import resource="classpath:config/calendarLook.xml" />

</beans>
