# ignore not-sources like compiled log and setting files #
*.class
*.settings
*.project
*.classpath
*.log
*/target
*.swp
*.swo
.DS_Store
*.jar
*.war
*.ear
nbactions.xml
nb-configuration.xml
profiles.xml
.tomcatplugin
C:*

# ignore test reports
*report.html

# ignore contents in testing folders
fam-config/dev/files/users/*
fam-config/dev/plugins/*

# make your own plattform depending scripts:
*/exec_*.sh

# make your own poms:
*/pom_*.xml


