<div>
	#parse("content_sub/login.html")
</div>
<h2>Do not register twice</h2>
<div>
	If you have forgotten your password please contact the administrator.
</div>

<h2>Terms</h2>
<div>
	If you like to use our facilities and you do not have an account yet please completely fill out the form on the left side.
	<br />
	You can send the form when all fields are green.
</div>
<div>
	The application is free of charge. You get an e-mail as soon as we have verified your application for the account.
	<br />
	We inform you about fees and our terms of use agreement after your first log in.
</div>
<div>
	Please be patient. Since we do it manually it can take some time.
</div>
