#if($config.user.username=='gasystem')
If you are not the guest user, you are allowed to change your password here!
#else
    #if($config.model.wrong_passold)
    <div id="changepassword_failed_wrongold" class="warning">
    	Invalid old password.
    </div>
    #elseif($config.model.wrong_passnew)
    <div id="changepassword_failed_wrongnew" class="warning">
    	Invalid new passwords.<br />
    	Please recheck: Passwords must be at least 8 characters with 2 letters and 2 non-letters.<br />
        20 characters as maximum.<br />
        Allowed characters:<br />
        A-Z, a-z, 0-9, _-.+,#
    </div>
    #elseif($config.model.updated_succ)
    <div id="changepassword_succ" class="success">
    	Your password has been updated successfully.
    </div>
    #end
    <form action="$util.html.getHref('changepassword')" method="post">
		<fieldset>
		    <legend>Old Password</legend>
		    <p>
                <label for="oldpass_id">Type in your old password</label>
                <br />
                <input type="password" name="oldpass" id="oldpass_id" value="" />
            </p>
		</fieldset>
		<fieldset id="fs_pw">
		    <legend>New Password</legend>
		    <table>
		    <tbody>
		        <tr>
		            <td>
		                <label for="pass1_id">Choose a new password</label>
		                <br />
		                <input type="password" name="pass1" id="pass1_id" value="" />
		            </td>
		            <td>
		                <label for="pass2_id">Re-enter your new password <span id="js_scrollwork_password_ok" class="no"></span></label>
		                <br />
		                <input type="password" name="pass2" id="pass2_id" value="" />
		            </td>
		        </tr>
		        <tr>
		            <td colspan="2" class="hint" id="passhint">
		                <table id="js_scrollwork_password_strength">
		                    <tr>
		                        <td id="js_scrollwork_password_0">weak</td>
		                        <td id="js_scrollwork_password_1">medium</td>
		                        <td id="js_scrollwork_password_2">strong</td>
		                    </tr>
		                </table>
		                <p style="margin-top: 10px;display:none;" class="hint" id="pass1_id_hint">
		                    Get it to "medium" or "strong".<br />
		                    Must be at least 8 characters with 2 letters and 2 non-letters.<br />
		                    20 characters as maximum.<br />
		                    Allowed characters:<br />
		                    A-Z, a-z, 0-9, _-.+,#
		                </p>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		</fieldset>
            <div>
                <button id="changepassword_submit" type="submit" class="icon next">Set this as my new password</button>
            </div>
    </form>
#end