    #if($config.model.entryView)
    <h1>Logbook “$config.model.logbook_name”</h1>
    <div>$config.model.logbook_description</div>
    #if($config.model.logbook_postingsuccess)
    <div id="successMessage">
		    Your message has been posted.
    </div>
    #end
    <div id="tableNavi">
        <a href="$util.html.getHref('logbookmakepost')?e=$config.model.logbookKey">Make post</a> | $util.html.a('logbook').setContent('Back to all')
    </div>
    <table class="standard">
        <thead>
            <tr>
                <th>Date</th>
                <th>Entry</th>
                <th>Tags</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            $config.model.logbook_trhtml
        </tbody>
    </table>
    #else
    <h1>Logbooks</h1>
    <table class="standard">
        <thead>
            <tr>
                <th>Logbook</th>
                <th>Entries</th>
                <th>Last entry</th>
            </tr>
        </thead>
        <tbody>
          #set($i = 0)
          #foreach($lb in $config.model.logbooks)
            #set($oddEven="even")
            #if ($i%2==0) #set($oddEven="odd") #end
            #set($i=$i + 1)
            #set($hrefMP=$util.html.getHref("logbookmakepost") + "?e=" + $lb.key)
            <tr class="$oddEven">
              <td>
                <h3>$lb.label</h3>
                <p class="small">$lb.description</p>
                <p class="small">
                  <a href="$hrefMP">Make Post</a>
                  #if($lb.entryCount > 0)
                    , <a href="?f=1&g=500&e=$lb.key">View</a>
                  #end
                </p>
              </td>
              <td>$lb.entryCount</td>
              <td class="small">
                #if($util.value.isNull($lb.newestEntry))
                <p class="small">-</p>
                #else
                <p class="small">$lb.newestEntry.ofUser.fullName</p>
                <p class="small">Date:&nbsp;$lb.newestEntry.date</p>
                <p class="small"><strong>$lb.newestEntry.tagsAsCsv</strong></p>
                #end
              </td>
            </tr>
          #end
        </tbody>
    </table>
    #end