<h1>Sign in to the Facility Access Manager</h1>
<div>
  <p>Please sign in to the Demo System of the Facility Access Manager using the guest user already filled in or $util.html.a('register', $lang.xml, $config.xml).setContent('apply for an account for free!')</p>
</div>
<div>
  <p>The actual qualities of the software is the Backend when using it as operator or administrator. If you like to use it as an operator simply write an e-mail at info@knurt.de and see the entire power of the system like statistics, giving user a feedback, set availabilities for a facility, writing letters/bills, configure what the user is ask for and many more.</p>
</div>