<h1>Sign in to the Facility Access Manager</h1>
<div>
  <p>Please sign in to the Demo System of the Facility Access Manager using the guest user already filled in or $util.html.a('register', $lang.xml, $config.xml).setContent('apply for an account for free!')</p>
</div>
<div class="hint">
  <p>The actual qualities of the software is the Backend when using it as operator or administrator.</p>
  <p>If you like to test the demo system as an operator please $util.html.a('register').setContent('register first') and simply write an email at <a href="mailto:info@knurt.de">info@knurt.de</a> afterwards. We give you an access with more power then.</p>
  <p>View statistics, give user a feedback, set availabilities for a facility, cancel bookings, writing letters/bills, configure what the user is asked for when booking and many more.</p>
</div>
