<h1>$FamText.facilityNameWithCapacityUnits($config.model.booking) (Job ID $config.model.booking.id)</h1>
<div>
	#if(!$config.model.booking.canceled && !$config.model.booking.endsInPast() && !$config.model.booking.sessionAlreadyBegun())
		#if($config.model.booking.isTimeBased())
			Time requested $FamDateFormat.getDateFormattedWithTime($config.model.booking.dateStart)&nbsp;to&nbsp;$FamDateFormat.getDateFormattedWithTime($config.model.booking.dateEnd).
		#else
					$config.model.booking.user.fullName is on $FamText.getOrdinal($config.model.booking.actualQueuePosition) position in the queue
		#end
	#end
	<br />
	Requested on $FamDateFormat.getDateAndTimeShort($config.model.booking.seton).
	<br />
	Status: $FamText.statusOfBookingAsText($config.user, $config.model.booking)
</div>
#if(!$config.model.booking.canceled)
	<h2>
		Feedback <a href="$util.html.href('viewfeedback')?v=$config.model.booking.id">view saved</a>
	</h2>
	<div>
		<iframe id="jobsurvey" scrolling="no" frameborder="no" style="width: 100%;" src="$util.html.hrefWithAQuery('jobsurvey', "?step=2&amp;jobid=$config.model.booking.id")">
			You need an actual browser
		</iframe>
	</div>
	<div>
		<p id="update_panel">
			<button type="submit" id="jobsurvey_update" class="icon save">
				Save changes
			</button>
		</p>
		<p>
			<button class="icon back" onclick="javascript:window.location='$util.html.href('jobsmanager')?a=$config.model.booking.facilityKey'">
				Back to Job-Manager
			</button>
			<button class="icon view" onclick="javascript:window.location='$util.html.href('viewrequest')?v=$config.model.booking.id'">
				View User's Job Information
			</button>
			<button class="icon view" onclick="javascript:window.location='$util.html.href('viewfeedback')?v=$config.model.booking.id'">
				View saved
			</button>
		</p>
		<input type="hidden" name="idJobDataProcessing" id="input_idJobDataProcessing" value="" />
		<input type="hidden" name="jobid" value="$config.model.booking.id" />
	</div>
#end