/*! KNURT Systeme - part of the Facility Access Manager */
div.ui-dialog p.left {
	float: left;
	width: 270px;
	height: 50px;
}

div.ui-dialog p.left,p.right {
	height: 50px;
}

div.ui-dialog div.split {
	border: 1px solid #DDDDDD;
	background-image: none;
	border-width: 1px 0 0;
	margin: 0.5em 0 0;
	padding: 0.3em 1em 0.5em 0.4em;
	padding-top: 20px;
}