<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="bean201105301101" name="bean201105301101" class="de.knurt.fam.service.pdf.control.FileFactoryUtil" factory-method="getInstance">
		<property name="outputDirectory" value="${fam_service_pdf.cache_directory}" />
		<property name="sorryFileUrl" value="${fam_service_pdf.sorry_file}" />
	</bean>
	<bean id="bean201106061043" name="bean201106061043" class="de.knurt.fam.service.pdf.control.PDFOptionUtil" factory-method="getInstance">
		<property name="defaultTemplate" value="${fam_service_pdf.default_template}" />
	</bean>

</beans>
